* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: linear-gradient(to right, #2193b0, #6dd5ed); */
    background-color: #2c3e50;}

h2 {
    text-align: center;
}

.container {
    background-color: #fff;
    padding: 2.5rem;
    border-radius: 1.25rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    min-height: 50vh;
    transition: all 0.3s ease-in-out;
}

form {
    margin-top: 2rem;
}

form select,
form input,
form button {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
    transition: all 0.2s ease;
}

form input {
    border: 1px solid #ccc;
    font-size: 1rem;
    height: 3rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
}

form input:focus {
    border-color: #af4d98;
    box-shadow: 0 0 0 2px rgba(175, 77, 152, 0.2);
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    gap: 1rem;
}

.dropdown i {
    font-size: 1.5rem;
    color: #af4d98;
    margin-top: 1rem;
}

.dropdown p {
    text-align: center;
    margin-bottom: 5px;
}

.select-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 8rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    background-color: #fafafa;
}

.select-container img {
    max-width: 1.8rem;
}

.select-container select {
    font-size: 1rem;
    background: transparent;
    border: none;
    width: auto;
    cursor: pointer;
}

.msg {
    margin: 2rem 0;
    text-align: center;
    color: #333;
    font-weight: 500;
    font-size: 1.1rem;
}

form button {
    height: 3rem;
    background-image: linear-gradient(to right, #11998e, #38ef7d);
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
}

form button:active {
    background-image: linear-gradient(to right, #0f766e, #2ecc71);
}
